<h1>MyPokemons#index</h1>
<p>Find me in app/views/my_pokemons/index.html.erb</p>
<%= form_with(model: @my_pokemon, method: :post, url: my_pokemons_path, local: true) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :ability %>
    <%= f.text_field :ability, class: "form-control" %>

    <%= f.label :nature %>
    <%= f.select :nature, MyPokemon.natures.keys, class: "form-control" %>

    <%= f.label :item %>
    <%= f.text_field :item, class: "form-control" %>

    <%= f.label :iv_h %>
    <%= f.select :iv_h, MyPokemon.iv_hs.keys, class: "form-control", value: 31 %>
    <%= f.select :iv_a, MyPokemon.iv_as.keys, class: "form-control", value: 31 %>
    <%= f.select :iv_b, MyPokemon.iv_bs.keys, class: "form-control", value: 31 %>
    <%= f.select :iv_c, MyPokemon.iv_cs.keys, class: "form-control", value: 31 %>
    <%= f.select :iv_d, MyPokemon.iv_ds.keys, class: "form-control", value: 31 %>
    <%= f.select :iv_s, MyPokemon.iv_s.keys, class: "form-control", value: 31 %>

    <%= f.label :ev_h %>
    <%= f.number_field :ev_h, class: "form-control" %>
    <%= f.number_field :ev_a, class: "form-control" %>
    <%= f.number_field :ev_b, class: "form-control" %>
    <%= f.number_field :ev_c, class: "form-control" %>
    <%= f.number_field :ev_d, class: "form-control" %>
    <%= f.number_field :ev_s, class: "form-control" %>

    <%= f.label :move %>
    <%= f.text_field :move_1, class: "form-control" %>
    <%= f.text_field :move_2, class: "form-control" %>
    <%= f.text_field :move_3, class: "form-control" %>
    <%= f.text_field :move_4, class: "form-control" %>

    <%= f.label :role %>
    <%= f.text_field :role, class: "form-control" %>

    <div class="action">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<table border="1">
  <tr>
    <th>名前</th>
    <th>特性</th>
    <th>性格</th>
    <th>持ち物</th>
    <th>個体値</th>
    <th>努力値</th>
    <th>実数値</th>
    <th>技</th>
    <th>役割</th>
  </tr>
  <% @my_pokemons.each do |pokemon| %>
    <tr>
      <td><%= pokemon.pokemon_name %></td>
      <td><%= pokemon.ability %></td>
      <td><%= pokemon.nature_i18n %></td>
      <td><%= pokemon.item %></td>
      <td>
        <%= pokemon.iv_h %> -
        <%= pokemon.iv_a %> -
        <%= pokemon.iv_b %> -
        <%= pokemon.iv_c %> -
        <%= pokemon.iv_d %> -
        <%= pokemon.iv_s %>
      </td>
      <td>
        <%= pokemon.ev_h %> -
        <%= pokemon.ev_a %> -
        <%= pokemon.ev_b %> -
        <%= pokemon.ev_c %> -
        <%= pokemon.ev_d %> -
        <%= pokemon.ev_s %>
      </td>
      <td>
        <%= pokemon.calc_h %> -
        <%= pokemon.calc_a %> -
        <%= pokemon.calc_b %> -
        <%= pokemon.calc_c %> -
        <%= pokemon.calc_d %> -
        <%= pokemon.calc_s %>
      </td>
      <td>
        <% pokemon.moves.each do |move| %>
          <%= move %><br>
        <% end %>
      </td>
      <td><%= pokemon.role %></td>
    </tr>
  <% end %>

</table>
