<% content_for(:html_title) { "ユーザ一覧" } %>
<div class="users-index">
  <h4 class="title-h4">ユーザ 一覧<span class="number">（<%= User.count %> 件）</span></h4>
  <ul class="users">
    <% @users.each do |user| %>
    <li id="user-<%= user.id %>" class="user-partial">
      <%= link_to image_tag(user.get_image_url, alt: user.name, class: "user-image"), user, class: "user-image" %>
      <span class="user-info">
        <%= link_to user.name, user, class: "user-name" %>
      </span>
      <% if current_user.present? && current_user.admin? %>
      <span class="delete-action">
        <%= button_to "削除する", user_path(user), data: { confirm: "本当に削除しますか？" },
            method: :delete, class: "btn btn-danger" %>
      </span>
      <% end %>
    </li>
    <% end %>
  </ul>
  <%= paginate @users %>
</div>
